/* ****************** Varibale Farben ****************/

$farbe___schwarz: #0b0c17;
$frabe___schwarz000: #000;
$farbe___rot: #ff3571;
$farbe___grau: #dddddd;
$farbe___blau: #3c30ff;
$farbe___weiß: #fff;


/* ******************* einbinden Font-Family Robot ************* */

@font-face {
    font-family: schriftDuenn;
    src: url("../fonts/Roboto_3/Roboto-Thin.ttf");
}

@font-face {
    font-family: schriftNormal;
    src: url("../fonts/Roboto_3/Roboto-Regular.ttf");
}

@font-face {
    font-family: schriftDick;
    src: url("../fonts/Roboto_3/Roboto-Bold.ttf");
}

/* *
dünn
font-family: 'schriftDuenn', sans-serif;

normal
font-family: 'schriftNormal', sans-serif;

dick
font-family: 'schriftDick', sans-serif;

*/




/* ***********************+ html ********************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 340px;
    /*  * wegen Mobile First */
    font-size: 16px;
    scroll-behavior: smooth;
}



/* ********************** Schriften und Farben  vordefinieren ************ */
h1 {
    font-family: 'schriftDick', sans-serif;
    color: $farbe___schwarz;
    font-size: 2rem;
}

h2 {
    font-family: 'schriftDick', sans-serif;
    color: $farbe___schwarz;
}

/* ************************ Zahlen bei Bilder 01 02 03 usw  */
h3 {
    font-family: 'schriftDick', sans-serif;
    color: $farbe___grau;
}

h4,
h5,
h6 {
    font-family: 'schriftNormal', sans-serif;
    color: $farbe___schwarz;
}

p {
    font-family: 'schriftDuenn', sans-serif;
    color: $farbe___schwarz;
    font-size: 1rem;
}

a {
    font-family: 'schriftDuenn', sans-serif;
    color: $farbe___rot;
    font-size: 0.5rem;
}


/* ***************  icons    und    images   begrenzen   ******************* */
/* *damit es am Anfang nicht vormat zerschieißt, müssen nochmal unten nachgearbeitet werden */
.img_icon {
    max-width: 20px;
}

.img_bild {
    max-width: 200px;
}






/* ************************** header ************************ */
/* ************************** header ************************ */
/* ************************** header ************************ */

header {
    display: block;
    /* * Bei Desktop Ansicht in Media Querries immer auf flex umstellen */

    section:nth-of-type(1) {
        background-color: red;

        /* ************************* Text links oben ___ mit Elefant ******** */
        >article:nth-of-type(1) {
            background-color: aqua;
            display: flex;
            /* * Elefant und Texte nebeneinander */
            padding-top: 1vh;
            /* * Abstand nach oben zum Rand  */
            padding-left: 1vw;
            /* * Abstand nach links zum Rand */

            article {
                background-color: yellow;
                padding-left: 2vw;
                /* * Abstand zu icon Elefant */

                p {
                    font-size: 0.6rem;
                    /* * Unter Zeile kleiner machen */
                }
            }

        }

        /* ************************ Text links unten ___ mit h1   ******** */
        >article:nth-of-type(2) {
            background-color: yellow;
            padding-top: 5vh;
            /* * Abstand zu Elefant oben */
            text-align: center;

            h1 {
                background-color: violet;
                margin-bottom: 1vh;
            }

            p {
                background-color: green;
                margin-left: 2vw;
                /* * Abstand Mobile links rechts, damit Schrift nicht bis an Rand geht bei  */
                margin-right: 2vw;
            }

        }


    }

    /* ************************ 2x Bilder Überblenden ___ Wolke + people ***** */
    section:nth-of-type(2) {
        background-color: orange;
        margin-top: 5vh;
        /* * Mobile  Abstand nach oben zu p */

        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            background-image: url("/assets/img/ilustracion1_wolke.png");

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            max-width: 100%;
            /* * 100% oder in Mobile 340px max-width */

            /*             Animation
            transform: translateY(-100px);
            transition: 2s ease-in ;
 */



        }
    }
}



/* ************************** main ************************ */
/* ************************** main ************************ */
/* ************************** main ************************ */


/* ********************    section a tag  ___ scroll    ********** */

.section_a___style {
    background-color: yellow;
    margin-top: 2vh;
    /* * Abstand zum header */

    margin-bottom: 4vh;
    /* * Abstand zum Bild mit der BilderGallery */
    padding-left: 3vw;

    a {
        text-decoration: none;
    }
}




/* ********************    section bild img Gallery    ********** */
.section_bildGallery {
    background-color: red;

    >img {
        max-width: 100%;
    }
}




/* ********************    section Text ___ Every    ********** */
/* *** Vorsicht  section_textAreYouReady bekommt gleichen Style */
.section_textEvery {
    background-color: orange;
    display: block;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 2vw;


    article {
        background-color: aqua;
        width: 50%;
        text-align: center;
        margin: 0 auto 2vh;
        /*  2vh Abstand nach unten zu p */
        /* * evtl. auto abändern bei Desktop */
    }
}




/* ********************    section h2 ___ After    ********** */
.section_h2After {
    background-color: red;

    h2 {
        background-color: aqua;
        width: 50%;
        text-align: center;
        margin: 0 auto 2vh;
        /* Mittig und 2vh nach unten  */
    }
}




/* ********************    section 4er Block alternativ Grid    ********** */
.section_vierErBlockAlternativGrid {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* * richtet Text Icos usw Mittig aus bei Mobile */


    /* ***************    section 4er B ___  1  te links oben    ********** */
    >section {
        background-color: aqua;
        padding: 3vh;
        /* * Abstand oben unten links rechts 3vh  */

        display: block;
        /* Vorsicht bei flex verschwinden Icons */

        article:nth-of-type(1) {
            background-color: red;
            /* * Icons  */
        }

        article:nth-of-type(2) {
            background-color: yellow;

            h4 {
                margin: 1vh 0;
                /* * für Mobile Abstand oben zu Icon und unten zu p  */
            }
        }

    }
}




/* ********************    section Text ___ Are you ready    ********** */
/* *** Vorsicht bekommt Style von    section_textEvery ***** */
.section_textAreYouReady {
    background-color: red;
}






/* ********************    section Block 01 bis 04    ********** */
.section_block01bis04 {
    background-color: orange;
    display: flex;
    /* * richtet 01 bis 04 im flex aus */
    flex-wrap: wrap;
    text-align: center;
    /* * text Icons usw. Mittig ausrichten */
    padding-top: 2vh;
    /* * Abstand zu text Are you Ready */
    padding-bottom: 2vh;
    /* * Abstand zu Footer */


    /* ********************    section 01 von 04 Rakete  Bild Text  ___ order    ********** */
    section {
        background-color: yellow;
        display: block;
        /*  * Bei Deskop umstellen - 
         richtet Bilder und Text aus */

        /* ******* große Bild */
        >article:nth-of-type(1) {
            background-color: aqua;
            order: 1;
            /* * Order wird für Desktop gebraucht, 
            da soll ja Bild text Reihenfolge bei jedem ten wechseln */

            /* *  die > bei img und article werden gebraucht, das die icons nicht mit angesprochen werden */
            >img {
                background-color: yellowgreen;
                max-width: 100%;
                /* * hebt default einstellung von oben auf  */
            }
        }

        /* *******   01-04 usw + icon */
        >article:nth-of-type(2) {
            background-color: violet;
            order: 1;
            /* * evtl. dann einfach class order im
            html direkt vergeben ;-) bevor man 
            hier jedes ... nth-type usw. richtig anspricht */
            padding: 2vh 2vh 2vh 2vh;
            /* * Abstand zu Bild und zu Rand */

            /* *******   icon */
            >article:nth-of-type(1) {
                background-color: yellow;
                display: flex;
                justify-content: space-around;
                font-size: 2rem;

            }

            /* ***** text */
            >article:nth-of-type(2) {
                background-color: yellowgreen;

                h4 {
                    background-color: orange;
                    margin-top: 2vh;
                    /* * Abstand zu Nummer 01 nach oben */
                    margin-bottom: 2vh;
                    /* * Abstand zu text p */
                    font-size: 1.6rem;
                }



            }

        }
    }

}



/* ************************** footer ************************ */
/* ************************** footer ************************ */
/* ************************** footer ************************ */

footer {
    background-color: red;
    text-align: center;
    padding-top: 3vh;
    /* *Abstand zu Main */
    padding-bottom: 1vh;
    /* * Abstand zu Ende */

    p {
        background-color: aqua;
        margin-top: 1vh;
        /*  * Abstand zu h2 drüber */
        margin-bottom: 2vh;
        /* * Abstand zu Buttons drunter */


    }

    form {
        background-color: violet;
        display: flex;
        /* * dadurch Text bzw. Buttons mittig übereinander */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 50%;
        margin: 0 auto;
        /*  * durch auto ganze Container Mittig ausrichten */



        /* ***** input */
        article:nth-of-type(1) {
            background-color: orange;

        }
    }

    /* ******* Herz + Text */
    article:nth-of-type(2) {
        background-color: orange;
        display: flex;
        /* * damit Herz hinten */
        width: 50%;
        justify-content: space-around;
        align-items: center;


        p {
            background-color: yellow;
            font-size: 0.55rem;
        }

        >img {
            background-color: greenyellow;
            max-width: 20px;

            object-fit: scale-down;
            /* * damit Icon klein ohne Verzerrung wird */
            margin-top: -1vh;
            /* * damit Herz auf einer Linie mit p */
        }
    }
}






/* ************************** media querrie ************************ */
/* ************************** media querrie ************************ */
/* ************************** media querrie ************************ */

@media only screen and (min-width: 1440px) {

    html,
    body {
        max-width: 1440px;
    }

    header {
        display: flex;

        section:nth-of-type(1) {
            background-color: rgb(182, 69, 69);
            display: flex;
            flex-direction: column;
            /* alles in Spalten ausrichten und nicht nebeneinander */
            align-items: flex-start;
            justify-content: space-between;
            padding: 0.5rem;
            padding-top: 2vh;
            padding-left: 2vw;
        }
    }

    /* ************************* Text links oben ___ mit Elefant ******** */

    header section:nth-of-type(1)>article:nth-of-type(1) article {
        background-color: rgb(229, 229, 167);
        padding-left: 0.5vw;

        h5 {
            font-size: clamp(0.8rem, 10vw, 1.2rem);
        }

        p {
            font-size: clamp(0.6rem, 10vw, 0.9rem);
        }
    }







    /* ************************ Text links unten ___ mit h1   ******** */
    header section:nth-of-type(1)>article:nth-of-type(2) {
        background-color: rgb(231, 231, 135);
        height: 60vh;
        padding-left: 5vw;
        text-align: left;

        h1 {
            font-size: clamp(0.8rem, 10vw, 4.2rem);
            margin-right: -10vw;
            /* * Damit kommt Text ins Bild zu fallenden Person */
        }

        p {
            margin-left: 0vw;
            font-size: clamp(1rem, 10vw, 1.3rem);
            margin-right: -10vw;
        }
    }









    /* ************************ 2x Bilder Überblenden ___ Wolke + people ***** */

    header section:nth-of-type(2) {
        background-color: rgb(161, 112, 21);
        margin-top: 0vh;
        max-width: 60%;
        ;
    }







    /* ************************** main ************************ */
    /* ************************** main ************************ */
    /* ************************** main ************************ */

/* ********************    section a tag  ___ scroll    ********** */

.section_a___style{
    padding-left:7vw;
    margin-top: 4vh;
    margin-bottom: 6vh;



    a{
    font-size: clamp(0.5rem, 10vw, 1.0rem);
    font-weight: bold;
    }
}


/* ********************    section Text ___ Every    ********** */
/* *** Vorsicht  section_textAreYouReady bekommt gleichen Style */
.section_textEvery{
    background-color: rgb(227, 193, 130);
    display: flex;
    justify-content: space-around;

    article {
        background-color: rgb(8, 94, 94);
        width:130vw;
        padding-left: 15vw;
        font-size: clamp(1.5rem, 10vw, 2.5rem);
        text-align: left;
        margin-right: 5vw;
    }
    p {
        font-size: clamp(1.5rem, 10vw, 1.5rem);
    }
}








    /* **** Ende */
}